.pagination {
	display: flex;
	justify-content: space-around;
	border-bottom: 5px solid var(--color-blue-base);
	border-top: 5px solid var(--color-blue-base);
	padding: 1em;
}

.btn-page {
	border: 3px solid var(--color-yellow);
}

.btn-page:hover,
.btn-page:focus {
	background-color: var(--color-yellow);
}
