.pagination {
	display: flex;
	justify-content: space-around;
	border-bottom: 5px solid var(--color-blue-base);
	border-top: 5px solid var(--color-blue-base);
	padding: 1em;
	text-align: center;
}

@media screen and (max-width: 600px) {
	.pagination {
		flex-direction: column;
	}

	.pagination button {
		margin-top: 0;
		margin-bottom: 0;
	}
}
