:root {
	--color-background: #f7f8fc;

	--color-blue-base: #00266c;
	--color-blue-light: #94c8e2;
	--color-yellow: #f7cd00;
	--color-red: #e90429;
	--color-green: green;
}

.yellow {
	color: var(--color-yellow);
}

.red {
	color: var(--color-red);
}

.blue {
	color: var(--color-blue-base);
}

.blue-light {
	color: var(--color-blue-light);
}

.white {
	color: #ffffff;
}

.black {
	color: #000000;
}
