@import url('./abstracts/colors.css');
@import url('./abstracts/text.css');
@import url('./components/quiz.css');
@import url('./components/start.css');
@import url('./components/buttons.css');
@import url('./components/pagination.css');

*,
*::after,
*::before {
	box-sizing: border-box;
}
html {
	font-size: 100%;
	font-family: var(--font-primary);
	background-color: var(--color-background);
}

html,
body {
	margin: 0;
}

section {
	padding: 1em;
	width: 100%;
	max-width: 1000px;
	margin: auto;
}

h1 {
	font-size: var(--font-size-h1);
}

h2 {
	font-size: var(--font-size-h2);
}

h3 {
	font-size: var(--font-size-h3);
}

h4 {
	font-size: var(--font-size-h4);
}

h5 {
	font-size: var(--font-size-h5);
}

p {
	font-size: var(--font-size-base);
}
